.header-style-one {
    position: relative;
    
}
.main-header {
    position: relative;
    width: 100%;
    z-index: 9999;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 100%;
}
* {
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;*/
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.main-header .header-top {
    position: relative;
    background-color: #222222;
    height: 74px;
}
div {
    display: block;
}
.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.main-header .header-lower {
    position: relative;
}
.header-style-one .header-lower .main-box {
    background-color: #e9eaea;
}
.main-header .header-lower .main-box {
	background: linear-gradient(to bottom, #f9f9f9 0%,#e5e5e5 100%);
}
.main-header .main-box {
    position: static;
    left: 0px;
    top: 0px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    font-family: 'Raleway', sans-serif;
}
.header-style-one .header-lower .inner-container, .header-style-one .header-top .inner-container {
    padding-left: 320px;
}
.main-header .header-lower .inner-container {
    position: relative;
}
  .header-style-one .header-lower .logo-box:before, .image-box .overlay-box:before, .header-style-one .header-lower .logo-box, .scroll-to-top,  .btn-style-one {
    background-color: #00c0ff;
}
.header-style-one .header-lower .logo-box {
    position: absolute;
    left: 0;
    top: -75px;
    /*background-color: #00c0ff;*/
    height: 150px;
}
.main-header .header-lower .logo-box {
    /*position: relative;*/
    float: left;
}
.header-style-one .header-lower .logo-box:before {
    position: absolute;
    right: 0;
    width: 1000%;
    height: 100%;
    /*background-color: #00c0ff;*/
    content: "";
}
body {
    font-size: 14px;
    color: #777777;
    line-height: 1.5em;
    font-weight: 400;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    /*font-family: 'Arimo', sans-serif;*/
}


.header-style-one .header-lower .logo {
    position: relative;
    padding: 45px 5px;
}
.main-header .header-lower .logo {
	transition: all 300ms ease;
}
.header-style-one .header-lower .logo:before {
    border-left: 70px solid #ffffff;
    right: -72px;
}
.header-style-one .header-lower .logo:after, .header-style-one .header-lower .logo:before {
    position: absolute;
    /*right: -70px;*/
    top: 0;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    /*border-left: 70px solid #00c0ff;*/
    content: "";
    z-index: 99;
}

a {
    text-decoration: none;
    cursor: pointer;
    /*color: #00c0ff;*/
}
.main-header .header-lower .logo img {
    position: relative;
    /*max-width: 100%;
    height: auto;*/
}
img {
    display: inline-block;
    vertical-align: middle;
    border-style: none;
    height: 150px;
    width: 280px;
    margin-left: -55px;
    margin-top: -45px;
    background-color: #00c0ff;
}
img {
    vertical-align: middle;
    border-style: none;
}

.new-property .status:before, .header-style-one .header-lower .logo:after {
    border-left-color: #00c0ff;
}
.header-style-one .header-lower .logo:after, .header-style-one .header-lower .logo:before {
    position: absolute;
    /*right: -70px;*/
    top: 0;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    border-left: 70px solid #00c0ff;
    content: "";
    z-index: 99;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.header-style-one .header-lower .logo:after, .header-style-one .header-lower .logo:before {
    position: absolute;
    right: -70px;
    top: 0;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    border-left: 70px solid #00c0ff;
    content: "";
    z-index: 99;
}
.header-style-one .header-lower .nav-outer {
    position: static;
    float: left;
    width: 100%;
}
.main-header .header-lower .nav-outer {
    float: right;
}
.main-menu {
    position: static;
    float: left;
}
.main-menu .navbar-header {
    display: none;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.main-menu .navbar-collapse {
    padding: 0px;
}
@media (min-width: 768px)
.navbar-expand-md .navbar-collapse {
    /*display: -ms-flexbox!important;*/
    display: flex!important;
    /*-ms-flex-preferred-size: auto;*/
    flex-basis: auto;
}
.navbar-collapse {
   /* -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;*/
    flex-grow: 1;
    /*-ms-flex-align: center;*/
    align-items: center;
}
.main-header .main-box {
    position: static;
    left: 0px;
    top: 0px;
    /*-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;*/
    transition: all 300ms ease;
    font-family: 'Raleway', sans-serif;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.main-menu .navigation {
    position: static;
    margin: 0px;
}
ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul {
    display: block;
    /*list-style-type: disc;*/
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.header-style-one .main-menu .navigation > li {
    padding-left: 0;
    padding-right: 28px;
    margin-right: 28px;
}
.main-menu .navigation > li {
    position: relative;
    float: left;
    padding: 0px 25px;
    transition: all 300ms ease;
}
ul, li {
    list-style: none;
   /* padding: 0px;*/
    margin: 0px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.header-style-one .main-menu .navigation > li:before {
    position: absolute;
    right: -5px;
    top: 25px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    color: #222222;
    content: "/";
}
.header-style-one .main-menu .navigation > li:last-child {
    margin-right: 0;
    padding-right: 0;
}
.main-menu .navigation > li.has-mega-menu {
    position: static;
}
.header-style-one .main-menu .navigation > li > a {
    padding: 25px 0;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 600;
}
.main-menu .navigation > li > a {
    position: relative;
    display: block;
    font-size: 14px;
    /*line-height: 30px;
    font-weight: 600;
    color: #252525;
    padding: 35px 0;*/
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    /*-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;*/
    transition: all 300ms ease;
}
@media only screen and (min-width: 768px)
.main-menu .navigation > li > ul, .main-menu .navigation > li > ul > li > ul, {
    display: block !important;
    visibility: hidden;
    opacity: 0;
}
.main-menu .navigation > li > ul {
    position: absolute;
    left: 0px;
    top: 110%;
    width: 200px;
    padding: 0px 0px;
    z-index: 100;
    background: rgba(47,46,50,.90);
    transition: all 200ms linear;
    box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%);
}
ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}
.main-menu .navigation > li > ul > li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.10);
}
@media only screen and (min-width: 768px)
.main-menu .navigation > li > ul, .main-menu .navigation > li > ul > li > ul, {
    display: block !important;
    visibility: hidden;
    opacity: 0;
}
.main-menu .navigation > li > ul > li > a {
    position: relative;
    display: block;
    padding: 10px 20px;
    line-height: 24px;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    text-align: left;
    text-transform: capitalize;
    border-left: 4px solid transparent;
    /*transition: all 500ms ease;
    -moz-transition: all 500ms ease;*/
    -webkit-transition: all 500ms ease;
    /*-ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;*/
}
.main-menu .navigation > li > ul > li > ul {
    position: absolute;
    left: 110%;
    top: 0%;
    width: 200px;
    padding: 0px 0px;
    z-index: 100;
    background: rgba(47,46,50,.90);
    transition: all 200ms linear;
    box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%);
}
.main-menu .navigation > li > ul > li > ul > li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.10);
}
.main-menu .navigation > li > ul > li > ul > li > a {
    position: relative;
    display: block;
    padding: 10px 20px;
    line-height: 24px;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    text-align: left;
    text-transform: capitalize;
    border-left: 4px solid transparent;
    /*transition: all 500ms ease;
    -moz-transition: all 500ms ease;*/
    -webkit-transition: all 500ms ease;
    /*-ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;*/
}
.main-menu .navigation > li > ul > li > ul > li:last-child {
    border-bottom: none;
}
.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 34px;
    height: 30px;
    border: 1px solid #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
    z-index: 5;
    display: none;
}
.la {
    display: inline-block;
    font: normal normal normal 16px/1 "LineAwesome";
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
.main-menu .navigation > li > ul > li:last-child {
    border-bottom: none;
}
.header-style-one .header-lower .inner-container, .header-style-one .header-top .inner-container {
    padding-left: 320px;
}
.main-header .header-lower .inner-container {
    position: relative;
}
.fixed-header .sticky-header {
    opacity: 1;
    z-index: 9999;
    visibility: visible;
    margin-top: -20px;
}
.fixed-header .sticky-header .logo {
    padding: 10px 0;
}
.sticky-header {
    position: fixed;
    /*visibility: hidden;*/
    /*opacity: 0;*/
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 0px 0px;
    z-index: -1;
    background: #ffffff;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    transition: top 300ms ease;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.slideInDown {
    /*-webkit-animation-name: slideInDown;*/
    animation-name: slideInDown;
}
.animated {
    /*-webkit-animation-duration: 1s;*/
    animation-duration: -1s;
    /*-webkit-animation-fill-mode: both;*/
    animation-fill-mode: both;
}