*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body{
	height: 100vh;
	width: 100%;
}
.image_container{
	height: 120px;
	width: 200px;
	border-radius: 6px;
	overflow: hidden;
}
.image_container img{
	height: 100%;
	width: auto;
	object-fit: cover;
}
.image_container span{
	top: -8px;
	right: 8px;
	color: red;
	font-size: 28px;
	font-weight: normal;
	cursor: pointer;
}
.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	
	align-items: center;

}
.location{
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 76%;
	border: 0;
	margin: 0 0 10px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 15px;
	height: 40px;
	border-radius: 5px;
  }
  
#btn1{
	background-color:lime;
	color: #ffffff;
	font-size: 15px;
	text-align: center;
	width: 130px;
	padding: 12px 0;
	margin: auto;
	border-radius: 5px;
	cursor: pointer;
	float: right;
  }
  input[type="file"]{
	display: none;
  }
  
  #images{
	width: 90%;
	position: relative;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	flex-wrap: wrap;
  }
  figure{
	width: 45%;
  }
  img{
	width: 100%;
  }
  figcaption{
	text-align: center;
	font-size: 2.4vmin;
	margin-top: 0.5vmin;
  }
  
.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url('/static/img/bgofprop.jpg') no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
	width: 100%;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}
i{cursor: pointer;}
h2:after{
	content: '';
    position: absolute;
    left: 15%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
   
}
.img {
	background: url('/static/img/bgofprop.jpg');
	  background-repeat: no-repeat;
	background-size: auto;
	background-size:100% 100%;
	/* -webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(15px); */
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
  }
  .switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 14px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}



.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
	
}
.Users{width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;}
	.Users:hover{
		background-color: rgba(0, 0, 0, 0.1);
	}
.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}