<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
    <title>View 6</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!-- Upload json file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/javascript/viewUpdater.js"></script>
    <script type="text/javascript" src="static/javascript/dynamicViewMaker.js"></script>
    <script type="text/javascript" src="static/javascript/H2.js"></script>    
</head>
<body>
    <div class="container-fluid co1">
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <div class="sidebar">
            <header>House2</header>
            <ul>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="https://pchen66.github.io/js/three/three.min.js"></script>
<script type="text/javascript" src="https://pchen66.github.io/js/panolens/panolens.min.js"></script>
<script type="text/javascript" src="static/javascript/tabItemEvents.js"></script>
    <!--<script type="text/javascript" src="static/javascript/viewUpdater.js"></script>-->
    <script type="text/javascript">
        var property_records = {{ property_records| tojson }};
        var property_info = {{ property_info|tojson }};
        document.title = property_info['name'];
        var propertyData = [];
            for(var i=0;i<property_records.length;i++){
          
                var singleData = {};
                singleData['img'] = property_records[i].src;
                singleData['type'] = property_records[i].type;
                singleData['nameData'] = null;
                singleData['infoSpot'] = null;
                singleData['listOfLinks'] = null;
               
                propertyData.push(singleData);
                
            }
        var view = property_info['view'];
        makeView(propertyData, view, false)
        console.log(property_records);
        console.log(propertyData);
        console.log(view);
    </script>
    
</body>
</html>