{% extends 'base.html' %}


{% block content %}

<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">404 PAGE NOT FOUND</h1>
              <!-- <span class="color-text-a">Provide the relief to the end user from visiting different houses at different location as this
                platform provides the 360 or virtual view of the houses so that user can experience actual view of the
                house from their comfort zone.</span> -->
            </div>
          </div>
    </section><!-- End Intro Single-->

{% endblock %}