{% extends 'base.html' %}


{% block content %}
<main>

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">We are here to Help You...</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="/Help">Help</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->
    <div class="container">
        <h4>For Buyers</h4>
        <div class="row">
            <div class="col-md-4">
                <img src="/static/img/download.png" class="img2">
                <h6>01.You Have to Sign In/Up</h6>
                <p> With the valid credentials and there you must be select your Type As "BUYER" at the time of Sign up.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/static/img/search.jpg" class="img2">
                <h6>02.Find Your Property</h6>
                <p>Now You can allow to see the Best listing of properties in our website.You have to click on Tab ==>
                    Property ==> Virtual views.
                    You can also search the properties with the help of search icon.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/static/img/download (1).png" class="img2">
                <h6>03.Predict Price of Property</h6>
                <p>You can Predict the price of Houses if you want to do with the help of Property ==> Property Guide
                    Tab.</p>
            </div>
            <h4>For Properitor/Seller</h4>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/img/download.png" class="img2">
                    <h6>01.You Have to Sign In/Up</h6>
                    <p> With the valid credentials and there you must be select your Type As "Proprietor" at the time of
                        Sign up.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/static/img/download (2).png" class="img2">
                    <h6>02.Upload Your Property</h6>
                    <p>Now You can allow to upload your listing of properties in our website.You have to click on Tab
                        ==> Property ==> Upload Property.

                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/static/img/Upload.svg.png" class="img2">
                    <h6>03.How to Upload Property?</h6>
                    <p>Add basic details of your properties and add 360 degree images of your property. for
                        example,Property Price,Area,BHK,location etc.</p>
                </div>


            </div>
        </div>
    </div>
        <div class="center">
            <video width="700" height="500" controls>
                <source src="/static/videos/uploadproperty.mp4" type="video/mp4">
            </video>
        </div>
</main>
{% endblock %}