{% extends 'base.html' %}


{% block content %}


  <div class="container" style="margin-top: -20px; position: relative;">
    <span>
    <script src="static/javascript/panaroma.js"></script>
      <!--<button class="btn-style-two" style="position: absolute; z-index: 2; margin: 100px 490px">Click Here</button>-->
      <!--<button class="btn-style-two" style="position: absolute; z-index: 2; margin: 100px 490px">Click Here</button>-->
    </span>
    </div>
 <!-- ======= Latest Properties Section ======= -->
  <section class="section-property section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Latest Properties</h2>
              </div>
              <div class="title-link">
                <a href="/property
">All Property
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="property-carousel" class="swiper-container">
          <div class="swiper-wrapper">

            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="static/img/Property1.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="http://localhost:5000/view1">House1</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a"></span>
                      </div>
                      <a href="http://localhost:5000/view1" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Bedroom</h4>
                          <span>
                            1
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Bathroom</h4>
                          <span>1</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Kitchen</h4>
                          <span>1</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="static/img/Property2.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="http://localhost:5000/view2">House2</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a"></span>
                      </div>
                      <a href="http://localhost:5000/view2" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Bedroom</h4>
                          <span>
                            2
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Bathroom</h4>
                          <span>1</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Kitchen</h4>
                          <span>1</span>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="static/img/Property3.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="http://localhost:5000/view3">House3</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a"></span>
                      </div>
                      <a href="http://localhost:5000/view3" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Bedroom</h4>
                          <span>
                            1
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Bathroom</h4>
                          <span>1</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Kitchen</h4>
                          <span>1</span>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="static/img/property4.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="http://localhost:5000/view4">House4</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a"></span>
                      </div>
                      <a href="http://localhost:5000/view4" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Bedroom</h4>
                          <span>
                            2
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Bathroom</h4>
                          <span>1</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Kitchen</h4>
                          <span>1</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="static/img/Property5.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="http://localhost:5000/view5">House5</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a"></span>
                      </div>
                      <a href="http://localhost:5000/view5" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Bedroom</h4>
                          <span>
                            1
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Bathroom</h4>
                          <span>1</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Kitchen</h4>
                          <span>1</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
          </div>
        </div>
        <div class="propery-carousel-pagination carousel-pagination"></div>

      </div>
    </section><!-- End Latest Properties Section -->
{% endblock %}

