<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/LoginStyle.css">


    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="static/img/frontImg.jpg" alt="">
      </div>
      <div class="back">
        <img class="backImg" src="static/img/backImg.jpg" alt="">

      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <input type="text" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <input type="password" placeholder="Enter your password" required>
              </div>
              <div class="text"><a href="#">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Sign In">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Signup</div>
              <form action="#">
               <div class="input-boxes">
                <lable>Full Name:</lable>
                 <div class="input-box">
                   <input type="text" placeholder="Enter your name" required>
                  </div>
                 <lable>Email Id:</lable>
                  <div class="input-box">
                    <input type="text" placeholder="Enter Your Email-Id" required>
                   </div>
                 <lable>DOB:</lable>
                  <div class="input-box">
                    <input type="Date" required>
                  </div>
                 <lable>Type of user</lable>
                 <div class="input-box">

                    <select class="Users" style="height:90%;width:100%;">
                     <option style="font-size:15px;color:grey;font-family: 'Poppins', sans-serif;">select</option>
                     <option style="font-size:15px;color:grey;font-family: 'Poppins', sans-serif;">Properitor</option>
                     <option style="font-size:15px;color:grey;font-family: 'Poppins', sans-serif;">Buyer</option>
                    </select>
                   </div>
                 <lable>Contact:</lable>
                   <div class="input-box">
                     <input type="text"  required>
                   </div>
                 <lable>Password:</lable>
                   <div class="input-box">
                     <input type="password" placeholder="Enter your password" required>
                   </div>
                 <lable>Confirm Password:</lable>
                   <div class="input-box">
                     <input type="password" placeholder="Confirm your password" required>
                    </div>
                    <div class="button input-box">
                       <input type="submit" value="Sumbit">
                    </div>
                    <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>

                 </div>
                </form>
             </div>
            </div>
        </div>
      </div>
</body>
</html>
