{% extends 'base.html' %}

{% block head %}
<title> Property </title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<main id="main">

  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Our Amazing Properties</h1>
            <span class="color-text-a"> Properties</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="http://localhost:5000/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Properties
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->

  <!-- ======= Property Grid ======= -->
  <section class="property-grid grid" >
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="static/img/Property1.jpg" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="#">House1</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <button id="view1" class="price-a" onclick="static_view(this.id)"><i
                        style="font-size:12px;color:#12C0A5" class="fa">&#xf067;</i></button>
                  </div>
                  <a href="/view1" class="link-a">Click here to view
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Bedroom</h4>
                      <span>
                        1
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Bathroom</h4>
                      <span>1</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Kitchen</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="static/img/Property2.jpg" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="#">House2</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <button id="view2" class="price-a" onclick="static_view(this.id)"><i
                        style="font-size:12px;color:#12C0A5" class="fa">&#xf067;</i></button>
                  </div>
                  <a href="/view2" class="link-a">Click here to view
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Bedroom</h4>
                      <span>
                        2
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Bathroom</h4>
                      <span>1</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Kitchen</h4>
                      <span>1</span>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="static/img/Property3.jpg" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="#">House3</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <button id="view3" class="price-a" onclick="static_view(this.id)"><i
                        style="font-size:12px;color:#12C0A5" class="fa">&#xf067;</i></button>
                  </div>
                  <a href="/view3" class="link-a">Click here to view
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Bedroom</h4>
                      <span>
                        1
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Bathroom</h4>
                      <span>1</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Kitchen</h4>
                      <span>1</span>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="static/img/property4.jpg" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="#">House4</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <button id="view4" class="price-a" onclick="static_view(this.id)"><i
                        style="font-size:12px;color:#12C0A5" class="fa">&#xf067;</i></button>
                  </div>
                  <a href="/view4" class="link-a">Click here to view
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Bedroom</h4>
                      <span>
                        2
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Bathroom</h4>
                      <span>1</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Kitchen</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="static/img/Property5.jpg" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="#">House5</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <button id="view5" class="price-a" onclick="static_view(this.id)"><i
                        style="font-size:12px;color:#12C0A5" class="fa">&#xf067;</i></button>
                  </div>
                  <a href="/view5" class="link-a">Click here to view
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>340m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% for property in property_records %}
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              {% if property[11] %}
              <img src="{{ property[11] }}" alt="" class="img-a img-fluid">
              {% else %}
              <img src="static/img/Property3.jpg" alt="" class="img-a img-fluid">
              {% endif %}
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="#">{{ property[3] }}</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <button id="{{ property[1] }}_{{ property[10] }}" class="price-a" onclick="dynamic_view(this.id)"><i
                        style="font-size:12px;color:#12C0A5" class="fa">&#xf067;</i></button>
                  </div>
                  <a href="/{{ property[1] }}_{{ property[10] }}" class="link-a">Click here to view
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Bedroom</h4>
                      <span>
                        {{ property[8] }}
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>{{ property[9] }}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Price</h4>
                      <span>{{ property[5] }}</span>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

    <!-- Pagination -->
    <div class="pagination" style="text-align: center;">
      <!--<li class="page-item previous-page"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item current-page active"><a class="page-link" href="#">1</a></li>
          <li class="page-item dots"><a class="page-link" href="#">...</a></li>
          <li class="page-item current-page"><a class="page-link" href="#">5</a></li>
          <li class="page-item current-page"><a class="page-link" href="#">6</a></li>
          <li class="page-item dots"><a class="page-link" href="#">...</a></li>
          <li class="page-item current-page"><a class="page-link" href="#">10</a></li>
          <li class="page-item next-page"><a class="page-link" href="#">Next</a></li>-->
    </div>
    <!-- End Pagination-->

        <!-- Model -->
    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">

        <div class="row">
          <div class="col-sm-6">

            <div class="img-box-a">
              <img src="static/img/Property3.jpg" alt="" class="img-a img-fluid" id="model-thumbnail">
            </div>
          </div>

          <div class="col-sm-6">
            <span class="close">&times;</span>
            <a class="navbar-brand text-brand" href="#">Virtual<span class="color-b">Estate</span></a>
            <hr>
            <b>
              <h1 id="model-price">$1,00,00000</h1>
            </b>
            <div class="img-box-a" style="float: right;margin-top: -25px;">
              <img src="/static/img/images (1).png" alt="" class="img-a img-fluid">
            </div>
            <span id="model-bhk">2Bhk</span>&nbsp;<span class="vl"></span>&nbsp;<span id="model-area">1200
              sqft</span>&nbsp;<span class="vl"></span>&nbsp;Mumbai
            <h2 id="model-property-name">House2</h2>
            <span id="model-location">Andheri</span>
            <p><img src="/static/img/red_circle.png" style="height: 10px;width: 10px;"></img>&nbsp;For sell</p>
            <hr>
            <a id="model-view-link" href="/view1" class="link-a" style="color: blue;">Click here to Take Tour of House
            </a>
            <hr>
            <p style="background-color: yellow;color:darkblue;font-size: 20px;font-weight: bold;">To Contact
              Properietor...</p>
            <h2 id="model-proprietor-name">Sahil Mestri</h2>
            <p><i class="fa fa-phone" aria-hidden="true"></i><span
                id="model-proprietor-contact">9876543210</span>&nbsp;<span class="vl"></span>&nbsp;<i
                class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<span
                id="model-proprietor-mail">shail@gmail.com</span></p>
            <span><button id="send_mail" onclick="sendMail()">Contact Proprietor</button></span>
          </div>
        </div>
      </div>

    </div>
    <!--End of Model-->
    
  </section><!-- End Property Grid Single-->
</main><!-- End #main -->
<script src="static/javascript/property.js" type="text/javascript"></script>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

{% endblock %}