{% extends 'base.html' %}

{% block head %}
<title> Property </title>
{% endblock %}

{% block content %}
<main id="main">
  
      <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Our Amazing Properties</h1>
              <span class="color-text-a"> Properties</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="http://localhost:5000/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Properties
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->
  
      <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
              <form>
                <select class="custom-select">
                  <option selected="">All</option>
                  <option value="1">New to Old</option>
                  <option value="2">For Rent</option>
                  <option value="3">For Sale</option>
                </select>
              </form>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="static/img/Property1.jpg" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="#">House1</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a"></span>
                    </div>
                    <a href="http://localhost:5000/view1" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Bedroom</h4>
                          <span>
                            1
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Bathroom</h4>
                          <span>1</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Kitchen</h4>
                          <span>1</span>
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="static/img/Property2.jpg" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="#">House2</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a"></span>
                    </div>
                    <a href="http://localhost:5000/view2" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Bedroom</h4>
                          <span>
                            2
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Bathroom</h4>
                          <span>1</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Kitchen</h4>
                          <span>1</span>
                        </li>

                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="static/img/Property3.jpg" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="#">House3</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a"></span>
                    </div>
                    <a href="http://localhost:5000/view3" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                   <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Bedroom</h4>
                          <span>
                            1
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Bathroom</h4>
                          <span>1</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Kitchen</h4>
                          <span>1</span>
                        </li>

                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="static/img/property4.jpg" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="#">House4</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a"></span>
                    </div>
                    <a href="http://localhost:5000/view4" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Bedroom</h4>
                          <span>
                            2
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Bathroom</h4>
                          <span>1</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Kitchen</h4>
                          <span>1</span>
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="static/img/Property5.jpg" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="#">House5</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a"></span>
                    </div>
                    <a href="http://localhost:5000/view5" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Area</h4>
                        <span>340m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Beds</h4>
                        <span>2</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Baths</h4>
                        <span>4</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Garages</h4>
                        <span>1</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% for property in property_records %}
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="static/img/Property3.jpg" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="#">{{ property[3] }}</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a"></span>
                    </div>
                    <a href="http://localhost:5000/{{ property[10] }}" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                   <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Bedroom</h4>
                          <span>
                            {{ property[8] }}
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Area</h4>
                          <span>{{ property[9] }}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Price</h4>
                          <span>{{ property[5] }}</span>
                        </li>

                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>  
          {% endfor %}

        </div>
      </div>
    </section><!-- End Property Grid Single-->
    </main><!-- End #main -->
    
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
{% endblock %}