<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <!-- <title>Sider Menu Bar CSS</title> -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script type="text/javascript" src="static/javascript/viewUpdater.js"></script>
    <script type="text/javascript" src="static/javascript/dynamicViewMaker.js"></script>
    <script type="text/javascript" src="static/javascript/H2.js"></script>
</head>
<body>
<div class="container-fluid co1">
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>House2</header>
        <ul>
            <li><a class="tabItems" data-tab="Hall" data-view="view2">Hall</a></li>
            <li><a class="tabItems" data-tab="Bedroom1" data-view="view2">Bedroom1</a></li>
            <li><a class="tabItems" data-tab="Bedroom2" data-view="view2">Bedroom2</a></li>
            <li><a class="tabItems" data-tab="Kitchen" data-view="view2">Kitchen</a></li>
            <li><a class="tabItems" data-tab="Bathroom" data-view="view2">Bathroom</a></li>

        </ul>
    </div>
</div>
<script type="text/javascript" src="https://pchen66.github.io/js/three/three.min.js"></script>
<script type="text/javascript" src="https://pchen66.github.io/js/panolens/panolens.min.js"></script>
<script type="text/javascript" src="static/javascript/tabItemEvents.js"></script>
<!--<script type="text/javascript" src="static/javascript/viewUpdater.js"></script>-->
<script type="text/javascript">

// We can write one js to handle hit to bring user data from backend like below object.... for now i am using bummdy object
var infoSpot = [
{'positions':[5000.00, -20.93, -3744.66],'tooltipText':'This is Bedroom1'},
{'positions':[5000.00, -28.71, -1972.63],'tooltipText':'This is Bedroom2'},
{'positions':[5000.00, 151.49, 2233.04],'tooltipText':'This is Bathroom'},
{'positions':[3331.10, -444.93, 5000.00],'tooltipText':'This is Kitchen'},
{'positions':[5000.00, 126.98, 694.91],'tooltipText':'This is Hall'}
];

var linkButtonSpot = [
{'currentLinkType':'Hall', 'listOfLinks':[{'valType':'Bedroom1','positions':[5000.00, 243.22, -3805.31]}, {'valType':'Bedroom2','positions':[5000.00, 170.16, -1962.77]},{'valType':'Kitchen','positions':[3357.18, -191.23, 5000.00]},{'valType':'Bathroom','positions':[5000.00, -9.27, 2223.96]}]},
{'currentLinkType':'Kitchen', 'listOfLinks':[{'valType':'Hall','positions':[5000.00, 243.22, -3805.31]}]},
{'currentLinkType':'Bedroom2', 'listOfLinks':[{'valType':'Hall','positions':[1943.53, 300.48, 5000.00]}]},
{'currentLinkType':'Bedroom1', 'listOfLinks':[{'valType':'Hall','positions':[-5000.00, -927.36, -3278.56]}]},
{'currentLinkType':'Bathroom', 'listOfLinks':[{'valType':'Hall','positions':[1126.45, 2072.50, 5000.00]}]},
]

var panArr = [
{'img':'static/img/H2/Hall.jpg','type':'Hall','nameData':'panorama1','infoSpot': infoSpot,'listOfLinks':[{'valType':'Bedroom1','positions':[5000.00, 243.22, -3805.31]}, {'valType':'Bedroom2','positions':[5000.00, 170.16, -1962.77]},{'valType':'Kitchen','positions':[3357.18, -191.23, 5000.00]},{'valType':'Bathroom','positions':[5000.00, -9.27, 2223.96]}]},
{'img':'static/img/H2/Bedroom1.jpg','type':'Bedroom1','nameData':'panorama2','infoSpot': null,'listOfLinks':[{'valType':'Hall','positions':[-5000.00, -927.36, -3278.56]}]},
{'img':'static/img/H2/Bedroom2.jpg','type':'Bedroom2','nameData':'panorama3', 'infoSpot': null,'listOfLinks':[{'valType':'Hall','positions':[1943.53, 300.48, 5000.00]}]},
{'img':'static/img/H2/Kitchen.jpg','type':'Kitchen','nameData':'panorama4', 'infoSpot': null,'listOfLinks':[{'valType':'Hall','positions':[5000.00, 243.22, -3805.31]}]},
{'img':'static/img/H2/Bathroom.jpg','type':'Bathroom','nameData':'panorama5', 'infoSpot': null,'listOfLinks':[{'valType':'Hall','positions':[1126.45, 2072.50, 5000.00]}]}
];

// readView(panArr)
makeView(panArr, false)

</script>

</body>
</html>
