<!DOCTYPE html>
 <head>

    <title>
        360 Degree View
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="static/css/style.css" type="text/css" rel="stylesheet">

 </head>

 <body>
    <div id="container"></div>
    <script type="text/javascript" src="https://pchen66.github.io/js/three/three.min.js"></script>
    <script type="text/javascript" src="https://pchen66.github.io/js/panolens/panolens.min.js"></script>

     <script type="text/javascript" src="static/javascript/H5.js"></script>
    <!-- <script type="text/javascript" src="https://github.com/pchen66/panolens.js/issues/340"></script> -->
</body>
</html>