<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <!-- <title>Sider Menu Bar CSS</title> -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/javascript/viewUpdater.js"></script>
    <script type="text/javascript" src="static/javascript/dynamicViewMaker.js"></script>
    <script type="text/javascript" src="static/javascript/H3.js"></script>
</head>
<body>
<div class="container-fluid co1">
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>House2</header>
        <ul>
            <li><a class="tabItems" data-tab="Hall" data-view="view3">Hall</a></li>
            <li><a class="tabItems" data-tab="Bedroom" data-view="view3">Bedroom</a></li>
            <li><a class="tabItems" data-tab="Kitchen" data-view="view3">Kitchen</a></li>
            <li><a class="tabItems" data-tab="Bathroom" data-view="view3">Bathroom</a></li>

        </ul>
    </div>
</div>
<script type="text/javascript" src="https://pchen66.github.io/js/three/three.min.js"></script>
<script type="text/javascript" src="https://pchen66.github.io/js/panolens/panolens.min.js"></script>
<!--<script type="text/javascript" src="static/javascript/H3.js"></script>-->
<script type="text/javascript" src="static/javascript/tabItemEvents.js"></script>
<script type="text/javascript">
       //readView()

        var infoSpot = [
        {'positions':[5000.00, -266.57, -3148.08],'tooltipText':'This is Kitchen'},
        {'positions':[5000.00, 14.78, 335.11],'tooltipText':'This is Bedroom'},
        {'positions':[5000.00, -249.71, 4639.37],'tooltipText':'This is Bathroom'},
        {'positions':[5000.00, -319.85, 1974.94],'tooltipText':'This is Hall'}
        ];

        var panArr = [
        {'img':'static/img/H3/Hall.jpg','type':'Hall','nameData':'panorama1','infoSpot': infoSpot,'listOfLinks':[{'valType':'Bedroom','positions':[5000.00, -48.62, 138.89]},{'valType':'Kitchen','positions':[5000.00, -107.27, -3420.77]},{'valType':'Bathroom','positions':[5000.00, -186.20, 4339.65]}]},
        {'img':'static/img/H3/bedroom.jpg','type':'Bedroom','nameData':'panorama2','infoSpot': null,'listOfLinks':[{'valType':'Hall','positions':[-5000.00, -393.30, 2852.02]}]},
        {'img':'static/img/H3/Kitchen.jpg','type':'Kitchen','nameData':'panorama4', 'infoSpot': null,'listOfLinks':[{'valType':'Hall','positions':[-1984.58, -442.67, -5000.00]}]},
        {'img':'static/img/H3/bathroom.jpg','type':'Bathroom','nameData':'panorama3', 'infoSpot': null,'listOfLinks':[{'valType':'Hall','positions':[-5000.00, 448.15, -3199.29]}]}
        ];

       var view = null;
       makeView(panArr, view, false);

</script>
</body>
</html>